.formBlock {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 30px;
}
.authorizationBlock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  margin-bottom: 20px;
}
.passwordInput {
  margin-right: 15px;
}
.errorMessage {
  width: 100%;
  border: none;
  background: none;
  color: red;
  font-weight: bold;
}
