<div class="appGalleryBlock">
  <h3>Gallery</h3>
  <div class="formBlock">
    <div class="authorizationBlock">
      <input
        type="password"
        name="password"
        class="passwordInput"
        placeholder="Password"
        (input)="onPullPasswordFromUser($event)"
        [value]="passwordFromUser"
      >
      <button (click)="onCheckPasswordFromUser()" [disabled]="passwordFromUser === ''">Open Form</button>
      <input  class="errorMessage" [value]="isError" disabled>
    </div>

    <form *ngIf="showForm" (submit)="onAddImage($event)" class="addImageBlock">
      <input type="text" name="imageTitle" placeholder="Image Title" [(ngModel)]="imageTitle" > <br><br>
      <input type="text" name="imageURl" placeholder="Image URL" [(ngModel)]="imageURL" > <br><br>
      <button type="submit" [disabled]="imageTitle === '' || imageURL === ''">Add Image</button>
    </form>
  </div>
  <div class="row">
    <div class="card m-3" style="width: 18rem;" *ngFor="let image of images let i = index">
      <img [src]="image.imageURL" class="card-img-top" alt="image">
      <div class="card-body">
        <p class="card-text">{{image.imageTitle}}</p>
      </div>
      <button (click)="images.splice(i,1)" class="btn btn-danger col-4">Delete</button>
    </div>
  </div>

</div>
