<div class="numbers-component">
  <button (click)="generateNumbers()">New numbers</button>
  <div class="numbersBlock">
    <div class="numberBlock" *ngFor="let number of randomNumbers">
      {{number}}
    </div>
  </div>
</div>


