.numbers-component {
  text-align: center;
}
.numbersBlock {
  padding: 15px;
}
.numberBlock {
  display: inline-block;
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0 15px 0 0;
  text-align: center;
  line-height: 50px;
}
